.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #077396;
}
.nav-pills .nav-link {
    background: 0 0;
    border-radius: none;
    background-color: #e9dfdf; 
    border: solid 0.1em;
    border-color: white;
    color:#077396;
    border-radius: 0%;
}
.input-group-text {
   border-radius: 0%;
   height: 3em;
   width: 3em;
}
.form-control {
    border-radius: 0%;
}
.form-check-input:checked {
    background-color: #077396;
    border-color: #077396;
}
.btn
{
    border-radius: 0%;
}

.image-prev{
    justify-content: center;
    text-align: center;
    background-size: cover;
    
}

.img-crd{
    height: 28em;
}

.img-crd-in{
height: 27em;
}


.up-rec{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    
}


.check-crd{
    min-height: 12em;
}

.decide{
    font-size: 14px;
    line-height: 25px;
    color: #077396;
}
.form-label {
    font-weight:normal;
}
.hrline
{
    border: 1px solid #077396;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    padding-left: 2em;
    border-width: 0;
}
.hrrl
{
    border: 1px dashed;
    border-color: #077396;

}
.nextbtn
{
    background-color: #077396;
    color: white;
    border-color: white;
}
.nextbtn:hover {
   
    background-color: #077396;
    color: white;
    border-color: white;
}
.nav-link:focus, .nav-link:hover {
    color: #077396;
}