.progress-bar {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* overflow: hidden; */
    color: var(--bs-progress-bar-color);
    /* text-align: center; */
    /* white-space: nowrap; */
    background-color: #adb5bd;
    transition: var(--bs-progress-bar-transition);
}