.dataTables_wrapper label
{
    padding-top: 1em;
    margin-left: 0.5em;
    padding-bottom: 0.5em;
}
button, input, optgroup, select, textarea {
    /* margin: 0; */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
   
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    padding-left: 2em;
    border-width: 0;
    padding-top: 1em;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-top: 2em;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #dee2e6;
    padding: 1em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: #077396 !important;
    color: white;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}